<app-l-main></app-l-main>
<div class="content">
    <div class="login">
        <div class="imgleft"></div>
        <div class="mid">
            <h1>Inicia Sesion</h1>
            <form action="" [formGroup]="user">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><mat-icon>person</mat-icon></span>
                    <input formControlName="login" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group">
                    <input formControlName="password" type="password" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" #pass>
                    <button class="btn btn-outline-secondary" type="button" (click)="showPassword()"><mat-icon>{{visibility}}</mat-icon></button>
                </div>
                <div class="btngroupcl">
                    <button type="button" class="btn btn-outline-success" (click)="login()">Iniciar Sesion</button>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id="flexCheckDefault" #saveUser>
                        <label class="form-check-label" for="flexCheckDefault">
                          Guardar usuario
                        </label>
                    </div>
                </div>  
                <mat-divider></mat-divider>
                <div class="reg"><p>No estas registrado? <a routerLink="/login/register">Registrate aquí</a>.</p></div>
            </form>
        </div>
        <div class="imgright"></div>
        
    </div>
</div>
<app-l-footer></app-l-footer>
<div class="pattern"></div>