<form class="alterUser" [formGroup]="alterUser">
    <div>
        <label for="exampleFormControlInput1" class="form-label">Codigo</label>
        <input type="number" value="{{data.code}}" formControlName="code" class="form-control" id="exampleFormControlInput1" placeholder="123..">
    </div>
    
    <div>
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" value="{{data.name}}" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Edad</label>
        <input type="text" value="{{data.age}}" formControlName="age" class="form-control" id="exampleFormControlInput1" placeholder="20">
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
        <input type="text" value="{{data.phoneNumber}}" formControlName="phoneNumber" class="form-control" id="exampleFormControlInput1" placeholder="555-555-1234">
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Dirección</label>
        <input type="text" value="{{data.address}}" formControlName="address" class="form-control" id="exampleFormControlInput1" placeholder="Cra 10#12-21">
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Rol</label>
        <select class="form-select" aria-label="Default select example" formControlName="roles">
            <option value="{{data.roles[0].rolName}}">{{data.roles[0].rolName}}</option>
            <option value="admin">ADMIN</option>
            <option value="user">USER</option>
            <option value="viewer">VIEWER</option>
          </select>
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
        <input type="text" value="{{data.login}}" formControlName="login" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
        <input type="text" value="{{data.password}}" formControlName="password" class="form-control" id="exampleFormControlInput1" placeholder="*******">
    </div>

    <div>
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" value="{{data.email}}" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@correo.com">
    </div>

    <div class="btn-user-data">
        <button type="button" class="btn btn-primary" (click)="saveUser()">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="erraseMap()">Limpiar Contenido</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Borrar</button>
    </div>
</form>