<div></div>
<div class="latNav">
    
    <div class="internal">
        <mat-icon class="arrowf">arrow_forward_ios</mat-icon>
        <div class="user">
            <mat-icon class="person">person</mat-icon>
            <div>
                <span class="ur-name">{{user.name}}</span>
                <span class="ur-auth">{{user.authority}}</span>
            </div>
        </div>
        <div class="opt">
            <div>
                <p (click)="logOut()">Cerrar Sesion</p>
                <p (click)="goLogin()">Ir a Login</p>
            </div>
        </div>
            
        </div>
</div>